@page "/"
<MachineOffCheck>
    <CardDeck>
        <Card>
            <CardHeader>
                <div class="float-left">
                    <h1 class="text-primary">
                        <span style="white-space:nowrap"><Icon Name="@("fab fa-cloudscale")" /> 0.41 bar</span>
                        <span style="white-space:nowrap"><Icon Name="@("fa-thermometer-half")" IconStyle="IconStyle.Solid" />&nbsp;110.2 °C</span>
                    </h1>
                </div>
                <div class="float-right">
                    <h3 class="text-right">
                        <span>
                            <Icon Name="@("fa-long-arrow-alt-up")" IconStyle="IconStyle.Solid" Class="text-secondary" />
                            <Icon Name="@("fa-burn")" IconStyle="IconStyle.Solid" Class="text-danger" />
                        </span>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </CardHeader>
            <CardBody>
                <CardTitle Size="5">Boiler</CardTitle>
                <Field>
                    <FieldLabel>Target Pressure</FieldLabel>
                    <TextEdit Placeholder="Enter email" />
                </Field>

            </CardBody>
        </Card>
        <Card>
            <CardHeader>
                <div class="float-left">
                    <h1 class="text-primary">
                        <span style="white-space:nowrap"><Icon Name="@("fab fa-cloudscale")" /> 0.41 bar</span>
                        <span style="white-space:nowrap"><Icon Name="@("fa-thermometer-half")" IconStyle="IconStyle.Solid" />&nbsp;110.2 °C</span>
                    </h1>
                </div>
                <div class="float-right">
                    <h3 class="text-right">
                        <span>
                            <Icon Name="@("fa-long-arrow-alt-up")" IconStyle="IconStyle.Solid" Class="text-secondary" />
                            <Icon Name="@("fa-burn")" IconStyle="IconStyle.Solid" Class="text-danger" />
                        </span>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </CardHeader>
            <CardBody>
                <CardTitle Size="5">Boiler</CardTitle>
                <Field>
                    <FieldLabel>Target Pressure</FieldLabel>
                    <TextEdit Placeholder="Enter email" />
                </Field>

            </CardBody>
        </Card>
        <Card>
            <CardHeader>
                <div class="float-left">
                    <h1 class="text-primary">
                        <span style="white-space:nowrap"><Icon Name="@("fab fa-cloudscale")" /> 0.41 bar</span>
                        <span style="white-space:nowrap"><Icon Name="@("fa-thermometer-half")" IconStyle="IconStyle.Solid" />&nbsp;110.2 °C</span>
                    </h1>
                </div>
                <div class="float-right">
                    <h3 class="text-right">
                        <span>
                            <Icon Name="@("fa-long-arrow-alt-up")" IconStyle="IconStyle.Solid" Class="text-secondary" />
                            <Icon Name="@("fa-burn")" IconStyle="IconStyle.Solid" Class="text-danger" />
                        </span>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </CardHeader>
            <CardBody>
                <CardTitle Size="5">Boiler</CardTitle>
                <Field>
                    <FieldLabel>Target Pressure</FieldLabel>
                    <TextEdit Placeholder="Enter email" />
                </Field>

            </CardBody>
        </Card>
    </CardDeck>
</MachineOffCheck>